@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.gradient{
    background: linear-gradient(180deg, #26366C 0%, #265EB9 100%);
}
.filter{
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 1px 4px 68px -15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}
select{
    font-size: 12px;
    border-radius: 12px;
    border: 1px solid #2654A5;
    padding: 0 5px;
    height: 30px;
}
@media (min-width: 600px) {
    /* CSS rules for bigger screens */
    select {
      font-size: 16px;
      height: 40px;
    }
  }
option{
    color: #10283F;
}
.footer a {
    font-size: 12px;
}
.footer .MuiSvgIcon-root{
    font-size: 25px !important;
    margin-left: 3px !important;
}
li{
    padding: 5px 0;
}
.footer a:hover, .footer h3:active{
    color: #C34D0A;
}
.footer h3 a .MuiSvgIcon-root{
    font-size: 14px !important;
    margin: 0 2px;
}
.contact .MuiSvgIcon-root{
    margin-right: 5px !important;
}
placeholder{
    font-size: 12px;
}